.perfilHeader{
    display: flex;
    flex-direction: row;
    width: 100vw;
    justify-content: space-between;
    height: 13vh;
    padding-right: 3vh
}

.circle{
    clip-path: circle(66.4% at 1% 1%);
    width: 18vh;
    height: 18vh;
    background-color: #AD8EB1;
    display: flex;
    padding-top: 3vh;
    padding-left: 2vh;
}

.returnButton{
    width: 5vh;
    height: 5vh;
    border-radius: 35px;
    background-color: white;
    padding: 5px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    display: flex;
    justify-content: center;
}

.headerContent{
    display: flex;
    flex-direction: column;
    align-items: flex-end; 
    justify-content: center
}

.perfilTitle{
    font-weight: bold;
    color: #4F1964;
    font-size: 28px;
    margin-top: 6vh;
    margin-bottom: 1vh;
    margin-right: 10px;
}

.userName{
    font-weight: bold;
    color: #4F1964;
    font-size: 24px;
    margin-left: 10px;
}

.divider{
    width: 55vw;
    height: 2px;  
    background-color: #AD8EB1;
}

.patientHeader{
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: 10vh;
    justify-content: center;
    align-items: center;
}

.infoText{
    font-weight: bold;
    color: #3B3B3B;
    font-size: 20px;
    margin-left: 25px;
    margin-top: 10px;
}

.containerItems{
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: auto;
    padding-left: 25px;
    padding-right: 25px;
}

.infoItem{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 88vw;
    height: 8vh;
}

.itemsLine{
    display: flex;
    flex-direction: row;
    align-items: center
}

.iconItem{
    width: 5vh; 
    height: 5vh;
    background-color: #4F1964; 
    border-radius: 10px;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.arrowItem{
    width: 4vh;
    height: 4vh;
    background-color: #4F1964;
    padding: 8px;
    display: flex;
    border-radius: 10px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    cursor: pointer;
}

.arrowItem:hover {
    background-color: #371145; 
}

.itemText{
    color: #3B3B3B;
    font-size: 18px;
    margin-left: 10px;
}

.dividerItem{
    width: 100%;
    height: 2px;  
    background-color: #AD8EB1;
}

.dividerModal{
    width: 90vw; 
    height: 2px;
    background-color: #4F1964;
    margin-top: -10px;
    margin-bottom: 10px;
}