.navBar{
  background-color: #4F1964;
  width: 100vw;
  height: 8vh;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
}

.drawerContent{
    background-color:#4F1964;
    display: flex;
    padding:20px;
    height: 25vh
}

.divider{
    width: 90vw;
    height: 2px;  
    background-color: white;
}

.navBarTitle{
    font-weight: bold;
    color: white;
    font-size:x-large;
}

.navBarMenu{
    font-weight: bold;
    color: white;
    font-size: large;
    margin-left: 5px;
}

.navBarItem{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 10px
}